// Don't show the build in search line
.form-search-wrapper {
  display: none !important;
}

.material1-search-wrapper {
  padding-bottom: 10px;

  .material1-search-form {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;

    .material1-search-form-column {
      padding-right: 10px;

      .material1-search-form-field {
        display: flex;
      }
    }
  }
}

.path-wrapper {
  display: flex;
  padding-bottom: 10px;

  .button-above-wrapper {
    padding-right: 10px;
  }
  .form-control {
    width: auto;
  }
}

.button-above-wrapper {
  padding-bottom: 10px;
}

td {
  vertical-align: middle !important;
}

.material1-create-forms {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .input-group {
    padding-top: 10px;
    width: auto;
    .form-control {
      width: auto;
      flex: inherit;
    }
  }
}

.permissions-wrapper {
  padding-top: 10px;
}