<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Materialsammlung', title='Ordner', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Ordner</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <script>
            fileNamesCounter = "1";
            ownersCounter = "1";
            typesCounter = "1";
            tagsCounter = "1";

            function addNewInputLine(type, placeholder) {
                const counter = window[type + "Counter"];

                const parent = document.getElementById(type);
                const div1 = document.createElement("div");
                const div2 = document.createElement("div");
                const div3 = document.createElement("div");
                const text = document.createElement("input");
                const button = document.createElement("input");

                text.type = "text";
                text.name = type + "[" + counter + "]";
                text.placeholder = placeholder;
                text.setAttribute("th:field", type + "[" + counter + "]");
                button.type = "button";
                button.value = "+";
                button.setAttribute("onClick", "javascript: addNewInputLine('" + type + "', '" + placeholder + "');");
                div1.id = text.name;

                div2.appendChild(text);
                div3.appendChild(button);
                div1.appendChild(div2);
                div1.appendChild(div3);
                parent.appendChild(div1);

                window[type + "Counter"]++;

                const delButtonName = type + "[" + counter + "]";
                const delButtonID = type + "Delete";
                document.getElementById(delButtonID).setAttribute("onclick", "javascript: deleteLastInputLine('" + delButtonName + "')");
            }

            function deleteLastInputLine(del) {
                const idLength = del.length;
                const substring = del.substring(0, idLength - 3);

                const counter = del.substring(idLength - 2, idLength - 1);
                console.log(counter);
                if (counter > 0) {
                    // delete element
                    const child = document.getElementById(del);
                    child.parentNode.removeChild(child);

                    // update deleteButton
                    window[substring + "Counter"]--;
                    const newOnclick = substring + "[" + (window[substring + "Counter"] - 1) + "]";
                    const delButtonID = substring + "Delete";
                    document.getElementById(delButtonID).setAttribute("onclick", "javascript: deleteLastInputLine('" + newOnclick + "')");
                }
            }
        </script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
    </nav>
</header>
<main th:fragment="bodycontent">
    <div th:if="${directory.getParentId()} != null">
        <form action="#" th:action="@{{dirId}(dirId = ${directory.getParentId()})}" th:method="get">
            <input type="submit" value="Ebene hoch">
        </form>
        </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Erstelldatum</th>
            <th>Typ</th>
            <th>Größe</th>
        </tr>
        <tr th:each="dir : ${dirs}" }>
            <td> <a th:text="${dir.name}" th:href="@{{dirId}(dirId = ${dir.id})}">%Name%</a></td>
            <td th:text="${#temporals.format(dir.creationTime, 'dd.MM.yyyy - HH:mm')}"></td>
            <td>Dateiordner</td>
            <td></td>
            <td>
                <form action="#" th:action="@{{dirId}/delete(dirId = ${dir.id})}" th:method="post">
                    <input type="submit" name="deleteFolder" value="Ordner löschen">
                </form>
            </td>
        </tr>
        <tr th:each="file : ${files}">
            <td> <a th:text="${file.name}" th:href="@{../file/{fileId}(fileId = ${file.id})}">%Name%</a></td>
            <td th:text="TBD">%Datum%</td>
            <td th:text="${file.type}">%Typ%</td>
            <td th:text="${file.getSizeString()}">%Größe%</td>
            <td>
                <form action="#" th:action="@{../file/{fileId}/delete(fileId = ${file.id})}" th:method="post">
                    <input type="submit" name="deleteFile" value="Datei löschen">
                </form>
            </td>
        </tr>
    </table>

    <form action="#" th:action="@{{thisDirId}/create(thisDirId = ${directory.getId()})}" th:method="post">
        <input type="text" name="folderName">
        <input type="submit" name="newFolder" value="Neuer Ordner" required>
    </form>

    <form action="#" th:action="@{{thisDirId}/upload(thisDirId = ${directory.getId()})}" th:method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" name="uploadFile" value="Datei Hochladen">
    </form>

    <form action="#" th:action="@{{thisDirId}/search(thisDirId = ${directory.getId()})}" th:method="post" th:object="${fileQueryForm}">
        <div id="fileNames">
            <div id="fileNames[0]">
                <div><input type="text" name="fileNames[0]" placeholder="Dateiname" th:field="*{names[0]}"></div>
                <div><input type="button" value="+" onclick="addNewInputLine('names', 'Dateiname')"></div>
            </div>
        </div>
        <div><input type="button" value="-" id="fileNamesDelete" onclick="deleteLastInputLine('fileNames[0]')"></div>
        <div id="owners">
            <div id="owners[0]">
                <div><input type="text" name="owners[0]" placeholder="Besitzer" th:field="*{owners[0]}"></div>
                <div><input type="button" value="+" onclick="addNewInputLine('owners', 'Besitzer')"></div>
            </div>
        </div>
        <div><input type="button" value="-" id="ownersDelete" onclick="deleteLastInputLine('owners[0]')"></div>
        <div id="types">
            <div id="types[0]">
                <div><input type="text" name="types[0]" placeholder="Dateityp" th:field="*{types[0]}"></div>
                <div><input type="button" value="+" onclick="addNewInputLine('types', 'Dateityp')"></div>
            </div>
        </div>
        <div><input type="button" value="-" id="typesDelete" onclick="deleteLastInputLine('types[0]')"></div>
        <div id="tags">
            <div id="tags[0]">
                <div><input type="text" name="tags[0]" placeholder="Tags" th:field="*{tags[0]}"></div>
                <div><input type="button" value="+" onclick="addNewInputLine('tags', 'Tags')"></div>
            </div>
        </div>
        <div><input type="button" value="-" id="tagsDelete" onclick="deleteLastInputLine('tags[0]')"></div>
        <div>
            <div><input type="submit" name="searchFile" value="Datei suchen"></div>
        </div>
    </form>
</main>
</body>
</html>
