<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Materialsammlung', title='Ordner', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Ordner</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{/style.css}">
        <script language="javascript" type="text/javascript" src="../static/script.js" th:src="@{/script.js}"></script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
    </nav>
</header>
<main th:fragment="bodycontent">
    <!-- Form to search for a file in the folder and all subfolders by 4 different parameters -->
    <div class="material1-search-wrapper">
        <input class="material1-show-search-button btn btn-primary" id="show-search-button" type="button"
               value="Suche öffnen"
               onclick="showSearchForm()">
        <form class="material1-search-form" id="material1-search-form" action="#"
              th:action="@{{dirId}/search(dirId = ${directory.getId()})}" th:method="post"
              th:object="${fileQueryForm}">
            <div class="material1-search-form-column" id="names">
                <div class="material1-search-form-field input-group" id="names[0]">
                    <input class="form-control" type="text" name="names[0]" placeholder="Dateiname"
                           th:field="*{names[0]}">
                    <div class="input-group-append">
                        <input class="btn btn-outline-warning" type="button" value="+"
                               onclick="addNewInputLine('names', 'Dateiname')">
                    </div>
                </div>
            </div>
            <div class="material1-search-form-column">
                <input class="btn btn-warning" type="button" value="-" id="namesDelete"
                       onclick="deleteLastInputLine('names[0]')">
            </div>
            <div class="material1-search-form-column" id="owners">
                <div class="material1-search-form-field input-group" id="owners[0]">
                    <input class="form-control" type="text" name="owners[0]" placeholder="Besitzer"
                           th:field="*{owners[0]}">
                    <div class="input-group-append"><input class="btn btn-outline-warning" type="button" value="+"
                                                           onclick="addNewInputLine('owners', 'Besitzer')"></div>
                </div>
            </div>
            <div class="material1-search-form-column">
                <input class="btn btn-warning" type="button" value="-" id="ownersDelete"
                       onclick="deleteLastInputLine('owners[0]')">
            </div>
            <div class="material1-search-form-column" id="types">
                <div class="material1-search-form-field input-group" id="types[0]">
                    <input class="form-control" type="text" name="types[0]" placeholder="Dateityp"
                           th:field="*{types[0]}">
                    <div class="input-group-append"><input class="btn btn-outline-warning" type="button" value="+"
                                                           onclick="addNewInputLine('types', 'Dateityp')"></div>
                </div>
            </div>
            <div class="material1-search-form-column">
                <input class="btn btn-warning" type="button" value="-" id="typesDelete"
                       onclick="deleteLastInputLine('types[0]')">
            </div>
            <div class="material1-search-form-column" id="tags">
                <div class="material1-search-form-field input-group" id="tags[0]">
                    <input class="form-control" type="text" name="tags[0]" placeholder="Tags"
                           th:field="*{tags[0]}">
                    <div class="input-group-append"><input class="btn btn-outline-warning" type="button" value="+"
                                                           onclick="addNewInputLine('tags', 'Tags')"></div>
                </div>
            </div>
            <div class="material1-search-form-column">
                <input class="btn btn-warning" type="button" value="-" id="tagsDelete"
                       onclick="deleteLastInputLine('tags[0]')">
            </div>
            <div class="material1-search-form-column">
                <div><input class="btn btn-outline-primary" type="submit" name="searchFile" value="Datei suchen"></div>
            </div>
            <div class="material1-search-form-column">
                <div><input class="btn btn-primary" type="button" name="closeSearchForm" value="Suche schließen"
                            onclick="hideSearchForm()"></div>
            </div>
        </form>
    </div>

    <!-- Button to the directory above -->
    <div th:if="${directory.getParentId()} != null">
        <div class="button-above-wrapper">
            <form action="#" th:action="@{{dirId}(dirId = ${directory.getParentId()})}" th:method="get">
                <input class="btn btn-outline-primary" type="submit" value="Ebene hoch">
            </form>
        </div>
    </div>

    <div th:if="${directoryPath}">
        <a th:each="dir : ${directoryPath}" th:text="|${dir.name}/|" th:href="@{{dirId}(dirId = ${dir.id})}">Dir
            Name</a>
    </div>

    <div th:if="${adminRole}">
        <form action="#" th:action="@{{dirId}/edit(dirId = ${directory.id})}" th:method="post"
              th:object="${editDirectoryForm}">
            <fieldset th:if="${directory.parentId} != null">
                <label>
                    <span>Ordnername:</span>
                    <input type="text" th:field="*{name}"/>
                </label>
            </fieldset>
            <table>
                <thead>
                <tr>
                    <th>Rolle</th>
                    <th>Lesen</th>
                    <th>Schreiben</th>
                    <th>Löschen</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rolePermissions, itemStat : *{rolePermissions}">
                    <div th:if="*{rolePermissions[__${itemStat.index}__].role == 'admin'} ">
                    <td><input type="text" th:field="*{rolePermissions[__${itemStat.index}__].role}" readonly/></td>
                    <td><input type="checkbox" onclick="return false;" th:field="*{rolePermissions[__${itemStat.index}__].read}"/></td>
                    <td><input type="checkbox" onclick="return false;" th:field="*{rolePermissions[__${itemStat.index}__].write}"/></td>
                    <td><input type="checkbox" onclick="return false;" th:field="*{rolePermissions[__${itemStat.index}__].delete}"/></td>
                    </div>
                    <div th:if="*{rolePermissions[__${itemStat.index}__].role != 'admin'} ">
                        <td><input type="text" th:field="*{rolePermissions[__${itemStat.index}__].role}" readonly/></td>
                        <td><input type="checkbox" th:field="*{rolePermissions[__${itemStat.index}__].read}"/></td>
                        <td><input type="checkbox" th:field="*{rolePermissions[__${itemStat.index}__].write}"/></td>
                        <td><input type="checkbox" th:field="*{rolePermissions[__${itemStat.index}__].delete}"/></td>
                    </div>
                </tr>
                </tbody>
            </table>
            <input class="btn btn-primary" type="submit" value="Speichern">
        </form>
    </div>


    <!-- Main Table to show the Folder Content -->
    <div class="table-responsive">
        <table class="table ">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Erstelldatum</th>
                <th scope="col">Typ</th>
                <th scope="col">Besitzer</th>
                <th scope="col">Größe</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${dirs}" th:each="dir : ${dirs}">
                <td><a th:text="${dir.name}" th:href="@{{dirId}(dirId = ${dir.id})}">%Name%</a></td>
                <td th:text="${#temporals.format(dir.creationTime, 'dd.MM.yyyy - HH:mm')}"></td>
                <td>Dateiordner</td>
                <td></td>
                <td></td>
                <td>
                    <form th:if="${deletePermission}" action="#" th:action="@{{dirId}/delete(dirId = ${dir.id})}"
                          th:method="post">
                        <input class="btn btn-danger" type="submit" name="deleteFolder" value="Ordner löschen">
                    </form>
                </td>
            </tr>
            <tr th:if="${files}" th:each="file : ${files}">
                <td><a th:text="${file.name}" th:href="@{../file/{fileId}(fileId = ${file.id})}">%Name%</a></td>
                <td th:text="${#temporals.format(file.creationTime, 'dd.MM.yyyy - HH:mm')}">%Datum%</td>
                <td th:text="${file.type}">%Typ%</td>
                <td th:text="${file.owner}">%Owner%</td>
                <td th:text="${file.getSizeString()}">%Größe%</td>
                <td>
                    <form th:if="${deletePermission || file.owner == account.name}" action="#"
                          th:action="@{../file/{fileId}/delete(fileId = ${file.id})}" th:method="post">
                        <input class="btn btn-danger" type="submit" name="deleteFile" value="Datei löschen">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${writePermission}" class="material1-create-forms">
        <!-- Form to create a new subfolder -->
        <form class="input-group" action="#" th:action="@{{dirId}/create(dirId = ${directory.getId()})}"
              th:method="post">
            <input class="form-control" type="text" placeholder="Ordnername..." name="folderName" required>
            <div class="input-group-append">
                <input class="btn btn-primary" type="submit" name="newFolder" value="Neuer Ordner">
            </div>
        </form>

        <!-- Form to upload a new file to the folder -->
        <form class="input-group" action="#" th:action="@{{dirId}/upload(dirId = ${directory.getId()})}"
              th:method="post"
              enctype="multipart/form-data">
            <input class="form-control" type="file" name="file" id="file-input-form" required>
            <div class="input-group-append">
                <input class="btn btn-primary" type="submit" name="uploadFile" value="Datei Hochladen">
            </div>
        </form>
    </div>
</main>
</body>
</html>
