<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Ordner', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Ordner</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <script>
            fileNamesCounter = "1";
            ownersCounter = "1";
            typesCounter = "1";
            tagsCounter = "1";

            function addNewInputLine(type, placeholder) {
                const counter = window[type + "Counter"];

                const parent = document.getElementById(type);
                const div1 = document.createElement("div");
                const div2 = document.createElement("div");
                const div3 = document.createElement("div");
                const text = document.createElement("input");
                const button = document.createElement("input");

                text.type = "text";
                text.name = type + "[" + counter + "]";
                text.placeholder = placeholder;
                button.type = "button";
                button.value = "+";
                button.setAttribute("onClick", "javascript: addNewInputLine('" + type + "', '" + placeholder + "');");

                div2.appendChild(text);
                div3.appendChild(button);
                div1.appendChild(div2);
                div1.appendChild(div3);
                parent.appendChild(div1);

                window[type + "Counter"]++;
            }
        </script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
    </nav>
</header>
<main th:fragment="bodycontent">
    <table>
        <tr>
            <th>Name</th>
            <th>Erstelldatum</th>
            <th>Typ</th>
            <th>Größe</th>
        </tr>
        <tr th:each="dir : ${dirs}" th:href="@{/${dir.id}}" }>
            <td th:text="${dir.name}">%Name%</td>
            <td></td>
            <td>Dateiordner</td>
            <td></td>
            <td>
                <form action="#" th:action="@{/${dir.id}}" th:method="delete">
                    <input type="submit" name="deleteFolder" value="Ordner löschen">
                </form>
            </td>
        </tr>
        <tr th:each="file : ${files}" th:href="@{../file/${file.id}}">
            <td th:text="${file.name}">%Name%</td>
            <td th:text="TBD">%Datum%</td>
            <td th:text="${file.type}">%Typ%</td>
            <td th:text="${file.size}">%Größe%</td>
            <td>
                <form action="#" th:action="@{../file/${file.id}}" th:method="delete">
                    <input type="submit" name="deleteFile" value="Datei löschen">
                </form>
            </td>
        </tr>
    </table>
    <form action="#" th:action="@{/create}" th:method="post">
        <input type="text" name="folderName">
        <input type="submit" name="newFolder" value="Neuer Ordner">
    </form>
    <form action="#" th:action="@{/upload}" th:method="post">
        <input type="file" name="file">
        <input type="submit" name="uploadFile" value="Datei Hochladen">
    </form>
    <form action="#" th:action="@{/search}" th:method="post">
        <div id="fileNames">
            <div>
                <div><input type="text" name="fileNames[0]" placeholder="Dateiname"></div>
                <div><input type="button" value="+" onclick="addNewInputLine('fileNames', 'Dateiname')"></div>
            </div>
        </div>
        <div id="owners">
            <div>
                <div><input type="text" name="owners[0]" placeholder="Besitzer"></div>
                <div><input type="button" value="+" onclick="addNewInputLine('owners', 'Besitzer')"></div>
            </div>
        </div>
        <div id="types">
            <div>
                <div><input type="text" name="types[0]" placeholder="Dateityp"></div>
                <div><input type="button" value="+" onclick="addNewInputLine('types', 'Dateityp')"></div>
            </div>
        </div>
        <div id="tags">
            <div>
                <div><input type="text" name="tags[0]" placeholder="Tags"></div>
                <div><input type="button" value="+" onclick="addNewInputLine('tags', 'Tags')"></div>
            </div>
        </div>
        <div>
            <div><input type="submit" name="searchFile" value="Datei suchen"></div>
        </div>
    </form>
</main>
</body>
</html>
