<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Materialsammlung', title='Dateien', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Dateien</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
    </nav>
</header>
<main th:fragment="bodycontent">
    <form action="#" th:action="@{{dirId}(dirId = ${backDirId})}" method="get">
        <input type="submit" value="Ebene hoch">
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Erstellungsdatum</th>
            <th>Typ</th>
            <th>Besitzer</th>
            <th>Größe</th>
        </tr>
        <tr th:each="file : ${files}">
            <td><a th:text="${file.name}" th:href="@{../../file/{fileId}(fileId = ${file.id})}">%Name%</a></td>
            <td th:text="${#temporals.format(file.creationTime, 'dd.MM.yyyy - HH:mm')}">%Datum%</td>
            <td th:text="${file.type}">%Typ%</td>
            <td th:text="${file.owner}">%Owner%</td>
            <td th:text="${file.size}">%Größe%</td>
            <td>
                <form action="#" th:action="@{../../file/{fileId}/delete(fileId = ${file.id})}" th:method="post">
                    <input type="submit" name="deleteFile" value="Datei löschen">
                </form>
            </td>
        </tr>
    </table>
</main>
</body>
</html>
