<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Materialsammlung', title='Fehler', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Materialsammlung</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
        <ul>
            <li><a href="#" th:href="@{/material1/groups}">Meine Gruppen</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">

    <div class="d-block">
        <div class="alert alert-warning w-50" id="error-message" th:if="${error} != null" th:text="${error.message}">
            Error!
        </div>
        <div th:if="${statuscode}">
            <h1 th:text="${statuscode}">404</h1>
            <h3 th:if="${status_message}"
                th:text="${status_message}">Die angeforderte Resource konnte nicht gefunden werden :(</h3>
        </div>
        <img src="../static/mops_error.jpg" th:src="@{/mops_error.png}" class="rounded mx-auto h-50 w-50"
             alt="Sad Pug.">
        <div style="color: gray">Credits to <a href="https://www.instagram.com/meddamorff/">meddamorff</a>!</div>
    </div>
    <br>
    <a th:if="${referer}" th:href="${referer}" class="nav-link">Zurück</a>
</main>
</body>
</html>
