<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Materialsammlung', title='Übersicht', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Ordner</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/style.css}">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <script language="javascript" type="text/javascript" src="../static/script.js" th:src="@{/script.js}"></script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
        <ul>
            <li><a href="#" th:href="@{/material1/groups}">Meine Gruppen</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <!-- Form to search for a file in the folder and all subfolders by 4 different parameters -->
    <div class="material1-search-wrapper">
        <input class="material1-show-search-button btn btn-primary" id="show-search-button" type="button"
               value="Suche öffnen"
               onclick="showSearchForm()">
        <form class="material1-search-form" id="material1-search-form" action="#"
              th:action="@{/material1/dir/{dirId}/search(dirId = ${directory.getId()})}" th:method="post"
              th:object="${fileQueryForm}">
            <div class="material1-search-form-column" id="names">
                <div class="material1-search-form-field input-group" id="names[0]">
                    <input class="form-control" type="text" name="names[0]" placeholder="Dateiname"
                           th:field="*{names[0]}">
                    <div class="input-group-append">
                        <input class="btn btn-outline-warning" type="button" value="+"
                               onclick="addNewInputLine('names', 'Dateiname')">
                    </div>
                </div>
            </div>
            <div class="material1-search-form-column">
                <input class="btn btn-warning" type="button" value="-" id="namesDelete"
                       onclick="deleteLastInputLine('names[0]')">
            </div>
            <div class="material1-search-form-column" id="owners">
                <div class="material1-search-form-field input-group" id="owners[0]">
                    <input class="form-control" type="text" name="owners[0]" placeholder="Besitzer"
                           th:field="*{owners[0]}">
                    <div class="input-group-append"><input class="btn btn-outline-warning" type="button" value="+"
                                                           onclick="addNewInputLine('owners', 'Besitzer')"></div>
                </div>
            </div>
            <div class="material1-search-form-column">
                <input class="btn btn-warning" type="button" value="-" id="ownersDelete"
                       onclick="deleteLastInputLine('owners[0]')">
            </div>
            <div class="material1-search-form-column" id="types">
                <div class="material1-search-form-field input-group" id="types[0]">
                    <input class="form-control" type="text" name="types[0]" placeholder="Dateityp"
                           th:field="*{types[0]}">
                    <div class="input-group-append"><input class="btn btn-outline-warning" type="button" value="+"
                                                           onclick="addNewInputLine('types', 'Dateityp')"></div>
                </div>
            </div>
            <div class="material1-search-form-column">
                <input class="btn btn-warning" type="button" value="-" id="typesDelete"
                       onclick="deleteLastInputLine('types[0]')">
            </div>
            <div class="material1-search-form-column" id="tags">
                <div class="material1-search-form-field input-group" id="tags[0]">
                    <input class="form-control" type="text" name="tags[0]" placeholder="Tags"
                           th:field="*{tags[0]}">
                    <div class="input-group-append"><input class="btn btn-outline-warning" type="button" value="+"
                                                           onclick="addNewInputLine('tags', 'Tags')"></div>
                </div>
            </div>
            <div class="material1-search-form-column">
                <input class="btn btn-warning" type="button" value="-" id="tagsDelete"
                       onclick="deleteLastInputLine('tags[0]')">
            </div>
            <div class="material1-search-form-column">
                <div><input class="btn btn-outline-primary" type="submit" name="searchFile" value="Datei suchen"></div>
            </div>
            <div class="material1-search-form-column">
                <div><input class="btn btn-primary" type="button" name="closeSearchForm" value="Suche schließen"
                            onclick="hideSearchForm()"></div>
            </div>
        </form>
    </div>

    <div class="material1-path-wrapper" th:if="${directoryPath} != null">
        <!-- Button to the directory above -->
        <div th:if="${directory.getParentId()} != null">
            <div class="material1-button-above-wrapper">
                <form action="#" th:action="@{/material1/dir/{dirId}(dirId = ${directory.getParentId()})}"
                      th:method="get">
                    <input class="btn btn-outline-primary" type="submit" value="Ebene hoch">
                </form>
            </div>
        </div>

        <!-- Path to the current folder -->
        <div class="form-control">
            <a th:each="dir : ${directoryPath}" th:text="|${dir.name}/|"
               th:href="@{/material1/dir/{dirId}(dirId = ${dir.id})}">%DirName%</a>
        </div>
    </div>

    <!-- Main Table to show the Folder Content -->
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Erstelldatum</th>
                <th scope="col">Typ</th>
                <th scope="col">Besitzer</th>
                <th scope="col">Größe</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${dirs}" th:each="dir : ${dirs}">
                <td><a th:text="${dir.name}" th:href="@{/material1/dir/{dirId}(dirId = ${dir.id})}">%Name%</a></td>
                <td th:text="${#temporals.format(dir.creationTime, 'dd.MM.yyyy - HH:mm')}"></td>
                <td>Dateiordner</td>
                <td></td>
                <td></td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <svg class="bi bi-list" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </button>
                        <div class="dropdown-menu">
                            <form action="#" th:action="@{/material1/dir/{dirId}/zip(dirId = ${dir.id})}"
                                  th:method="get">
                                <button class="dropdown-item" type="submit">
                                    <span>
                                        <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8z"
                                                  clip-rule="evenodd"/>
                                            <path fill-rule="evenodd"
                                                  d="M5 7.5a.5.5 0 01.707 0L8 9.793 10.293 7.5a.5.5 0 11.707.707l-2.646 2.647a.5.5 0 01-.708 0L5 8.207A.5.5 0 015 7.5z"
                                                  clip-rule="evenodd"/>
                                            <path fill-rule="evenodd"
                                                  d="M8 1a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 1z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                        Download
                                    </span>
                                </button>
                            </form>
                            <div th:if="${writePermission && deletePermission}">
                                <button class="dropdown-item material1-dir-rename" type="button"
                                        th:data-dir-name="${dir.name}" th:data-dir-id="${dir.id}">
                                    Umbenennen
                                </button>
                            </div>
                            <form th:if="${deletePermission}" action="#"
                                  th:action="@{/material1/dir/{dirId}/delete(dirId = ${dir.id})}" th:method="post"
                                  onsubmit="return confirm('Diese Aktion kann nicht rückgangig gemacht werden. Soll der Ordner mit seinem gesamten Inhalt wirklich gelöscht werden?');">
                                <button class="dropdown-item text-danger" type="submit">Löschen</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            <tr th:if="${files}" th:each="file : ${files}">
                <td><a th:text="${file.name}" th:href="@{/material1/file/{fileId}(fileId = ${file.id})}">%Name%</a></td>
                <td th:text="${#temporals.format(file.creationTime, 'dd.MM.yyyy - HH:mm')}">%Datum%</td>
                <td th:text="${file.type}">%Typ%</td>
                <td th:text="${file.owner}">%Owner%</td>
                <td th:text="${file.getSizeString()}">%Größe%</td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <svg class="bi bi-list" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </button>
                        <div class="dropdown-menu">
                            <form action="#" th:action="@{/material1/file/{fileId}/download(fileId = ${file.id})}"
                                  th:method="get">
                                <button class="dropdown-item" type="submit">
                                    <span>
                                        <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8z"
                                                  clip-rule="evenodd"/>
                                            <path fill-rule="evenodd"
                                                  d="M5 7.5a.5.5 0 01.707 0L8 9.793 10.293 7.5a.5.5 0 11.707.707l-2.646 2.647a.5.5 0 01-.708 0L5 8.207A.5.5 0 015 7.5z"
                                                  clip-rule="evenodd"/>
                                            <path fill-rule="evenodd"
                                                  d="M8 1a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 1z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                        Download
                                    </span>
                                </button>
                            </form>
                            <div th:if="${writePermission && (deletePermission || file.owner == account.name)}">
                                <button class="dropdown-item material1-file-rename" type="button"
                                        th:data-file-name="${file.name}" th:data-file-id="${file.id}">
                                    Umbenennen
                                </button>
                            </div>
                            <form th:if="${deletePermission || file.owner == account.name}" action="#"
                                  th:action="@{/material1/file/{fileId}/delete(fileId = ${file.id})}" th:method="post"
                                  onsubmit="return confirm('Diese Aktion kann nicht rückgangig gemacht werden. Soll die Datei wirklich gelöscht werden?');">
                                <button class="dropdown-item text-danger" type="submit">Löschen</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${writePermission}" class="material1-create-forms">
        <!-- Form to create a new subfolder -->
        <form class="input-group" action="#" th:action="@{/material1/dir/{dirId}/create(dirId = ${directory.getId()})}"
              th:method="post">
            <input class="form-control" type="text" placeholder="Ordnername..." name="folderName" required>
            <div class="input-group-append">
                <input class="btn btn-primary" type="submit" name="newFolder" value="Neuer Ordner">
            </div>
        </form>

        <!-- Form to upload a new file to the folder -->
        <form class="input-group" action="#" th:action="@{/material1/dir/{dirId}/upload(dirId = ${directory.getId()})}"
              th:method="post"
              enctype="multipart/form-data">
            <input class="form-control" type="file" name="file" id="file-input-form" required>
            <div class="input-group-append">
                <input class="btn btn-primary" type="submit" name="uploadFile" value="Datei Hochladen">
            </div>
        </form>
    </div>

    <!-- Change Permissions -->
    <div th:if="${adminRole}">
        <div class="material1-permissions-wrapper">
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsePermissions"
                        aria-expanded="false" aria-controls="collapsePermissions">Berechtigungen bearbeiten
                </button>
            </p>
            <div class="collapse" id="collapsePermissions">
                <div class="card card-body">
                    <form action="#" th:action="@{/material1/dir/{dirId}/edit(dirId = ${directory.id})}"
                          th:method="post" th:object="${editDirectoryForm}">
                        <table>
                            <thead>
                            <tr>
                                <th>Rolle</th>
                                <th>Lesen</th>
                                <th>Schreiben</th>
                                <th>Löschen</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="rolePermissions, itemStat : *{rolePermissions}"
                                th:with="adminRow = *{rolePermissions[__${itemStat.index}__].role} == 'admin'">
                                <td><input class="form-control" type="text" readonly
                                           th:field="*{rolePermissions[__${itemStat.index}__].role}"/></td>
                                <td><input type="checkbox" th:onclick="|return ${!adminRow};|"
                                           th:field="*{rolePermissions[__${itemStat.index}__].read}"/></td>
                                <td><input type="checkbox" th:onclick="|return ${!adminRow};|"
                                           th:field="*{rolePermissions[__${itemStat.index}__].write}"/></td>
                                <td><input type="checkbox" th:onclick="|return ${!adminRow};|"
                                           th:field="*{rolePermissions[__${itemStat.index}__].delete}"/></td>
                            </tr>
                            </tbody>
                        </table>
                        <input class="btn btn-primary" type="submit" value="Speichern">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
